.button-and-filter-container {
    display: flex;
    justify-content: space-between;
    /* Alinha os itens nas extremidades */
    align-items: center;
    /* Alinha os itens verticalmente */
}

/* formatar as celulas de dados das colunas da tabela */

.mat-column-id_cliente {
    text-align: center;
    width: 40px !important;
}

.mat-column-nome_completo {
    text-align: center;
    width: 150px !important;
}

.mat-column-telefone {
    text-align: center;
    width: 65px !important;
}

.mat-column-email {
    text-align: center;
    width: 60px !important;
}

.mat-column-nome_loja {
    text-align: center;
    width: 120px !important;
}

.mat-column-cpf {
    text-align: center;
    width: 50px !important;
}

.mat-column-cnpj {
    text-align: center;
    width: 50px !important;
}

.mat-column-tipo_cliente {
    text-align: center;
    width: 95px !important;
}

.mat-column-endereco {
    text-align: center;
    width: 150px !important;
}

.mat-column-numero {
    text-align: center;
    width: 30px !important;
}

.mat-column-complemento {
    text-align: center;
    width: 60px !important;
}

.mat-column-cidade {
    text-align: center;
    width: 80px !important;
}

.mat-column-uf {
    text-align: center;
    width: 30px !important;
}

.mat-column-actions {
    text-align: center;
    width: 30px !important;
}

/* formatar o table (linhas, header, botoes) */

.mat-mdc-table {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 2px solid rgba(0, 0, 0, 0.12);
    border-right: 2px solid rgba(0, 0, 0, 0.12);
}

.mat-mdc-header-cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 2px solid rgba(0, 0, 0, 0.12);
    border-right: 2px solid rgba(0, 0, 0, 0.12);

    vertical-align: middle;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.mat-mdc-cell {
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 2px solid rgba(0, 0, 0, 0.12);
    border-right: 2px solid rgba(0, 0, 0, 0.12);

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.mat-header-row,
.mat-row {
    min-height: 30px;
}

.mat-mdc-outlined-button {
    padding: 1px;
    border-width: 0px;
    border-style: none;
    min-width: 30px;
}