<div class="button-and-filter-container">
<!-- Botão de inclusão de novo cliente -->
<a routerLink="/cliente-det/000">
  <button type="button" mat-raised-button color="basic">Incluir novo</button>
</a>
<h2>Cadastro de Clientes</h2>
<!-- Filtro-->
<mat-form-field subscriptSizing="dynamic">
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>
</div>
<!--Tabela-->
<div class="table-responsive">
  <table class="table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id_cliente">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header sortingCache matTooltip="ID do Cliente" [matTooltipPosition]="'above'">
        ID
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.id_cliente}}
      </td>
    </ng-container>

    <ng-container matColumnDef="nome_completo">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome
      </th>
      <td mat-cell *matCellDef="let element">
        <a href='{{"/cliente-det/" + element.id_cliente + "?mode=V"}}'>{{ element.nome_completo}}</a>        
      </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        Telefone
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.telefone }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        Email
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nome_loja">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome da Loja
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.nome_loja }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cnpj">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        CNPJ
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.cnpj }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        CPF
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.cpf }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipo_cliente">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        Tipo de Cliente
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.tipo_cliente }}
      </td>
    </ng-container>
    <!--
    <ng-container matColumnDef="endereco">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        Endereço
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.endereco }}
      </td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        Número
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.numero }}
      </td>
    </ng-container>

    <ng-container matColumnDef="complemento">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        Complemento
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.complemento }}
      </td>
    </ng-container>
    -->
    <ng-container matColumnDef="cidade">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
        Cidade
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.cidade }}
      </td>
    </ng-container>

    <ng-container matColumnDef="uf">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header> <!-- class="divider-cell" -->
        UF
      </th>
      <td mat-cell *matCellDef="let element"> <!-- class="divider-cell" -->
        {{ element.uf }}
      </td>
    </ng-container>
    <!-- Botões Editar e Excluir-->
    <ng-container  matColumnDef="actions" >
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef >
        Ações
      </th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <div class="d-flex align-items-center justify-content-center">
          <a class="d-flex" aria-label="Editar" href='/cliente-det/{{row.id_cliente}}?mode=E' matTooltip="Editar" [matTooltipPosition]="'above'">
            <mat-icon class="edit-icon">edit</mat-icon>
          </a>
          <button mat-stroked-button color="warn" (click)="excluirCliente(row.id_cliente)" matTooltip="Excluir" [matTooltipPosition]="'above'" aria-label="Deletar">
            <!-- Adicione uma classe de estilo para o botão quadrado -->
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nada encontrado para o filtro "{{input.value}}"</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef=" displayColumn "></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumn ;"></tr>
  </table>
  <!--Paginador-->
  <mat-paginator PersistPaginator [pageSizeOptions]="[5, 10, 15, 25]" [pageSize]="10"  itemsPerPageLabel="Itens por Página" showFirstLastButtons="True"></mat-paginator>
</div>
