/*import de acessibilidade*/
@use '@angular/cdk';
:host {


  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;


  /* apenas para testes
  border-color: red;
  border-width: 2px;
  border-style: solid; */
}

/* #Header {

  apenas para testes
  border-color: blue;
  border-width: 2px;
  border-style: solid;
} */

#Footer {

  background-color: #333;
/* apenas para testes
border-color: lime;
border-width: 2px;
border-s

tyle: solid; */
}

#Footer p {

  text-align: center;
  color: #fff;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  _max-width: 700px;
  margin-bottom: 3rem;
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}

/* estilo da barra de navegação */

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.admin-header a .home {
  display: flex;
}

.logo img {
  width: 40px;
  height: auto;
}

.admin-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.admin-nav ul li {
  margin-right: 20px;
}

.admin-nav ul li:last-child {
  margin-right: 0;
}

.admin-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.admin-actions button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  @include cdk.high-contrast() {
    outline: solid 1px;
  }

}

/* Estilo dos links quando estão ativos */
.admin-nav ul li a.active {
  color: #7CB9E8;
  @include cdk.high-contrast() {
    color: yellow;
  }
}

/* Animação de transição */
.admin-nav ul li a {
  transition: color 0.3s ease;
}

/* Estilos para tornar o menu responsivo */
@media screen and (max-width: 768px) {
  .admin-nav {
    display: none;
  }

  .admin-actions button {
    margin-left: 0;
  }
}
/*
@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}
*/