<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <header id="Header">

  <div *ngIf="logado" id="LogoutDiv" class="float-end text-center LogoutDiv">
    <button name="DeslogarBtn" id="DeslogarBtn" (click)="deslogar()" class="btn"><i class="bi bi-box-arrow-right"
        style="font-size: 18px;"></i></button>
  </div>

  <div *ngIf="logado" id="ConfigDiv" class="float-end text-center ConfigDiv">
    <a routerLink="/config">
      <button name="ConfigBtn" id="ConfigBtn" class="btn"><i class="bi bi-gear" style="font-size: 18px;"></i></button>
    </a>
  </div>

  <nav *ngIf="logado" navbar navbar-expand-md navbar-dark fixed-top bg-dark>
    <a routerLink="/home"><img src="../assets/images/logo-home-small.jpg" alt="logo do sistema"></a>
    <a routerLink="/cliente-list">Cadastro de Clientes</a>
    <a routerLink="/fornecedor-list">Cadastro de Fornecedores</a>
    <a routerLink="/produto-list">Cadastro de Produtos</a>

    <a routerLink="/produto-entrada">Entrada de Produto</a>
    <a routerLink="/produto-saida">Saída de Produto</a>

    <a routerLink="/movimentacao-cs">Consulta de Movimentação do Estoque</a>

  </nav>

</header> -->

<!-- ng-click="setActive('cliente-list')" ng-class="{ 'active': activeTab === 'cliente-list' }"
ng-click="setActive('fornecedor-list')" ng-class="{ 'active': activeTab === 'fornecedor-list' }"
ng-click="setActive('produto-list')" ng-class="{ 'active': activeTab === 'produto-list' }"
ng-click="setActive('produto-entrada')" ng-class="{ 'active': activeTab === 'produto-entrada' }"
ng-click="setActive('produto-saida')" ng-class="{ 'active': activeTab === 'produto-saida' }"
ng-click="setActive('movimentacao-cs')" ng-class="{ 'active': activeTab === 'movimentacao-cs' }" -->

<header id="Header" *ngIf="menu" class="admin-header">
  <div class="d-flex align-items-center">
    <a routerLink="/home" class="home">
      <div class="logo">
        <!-- <img src="../assets/images/logo-home-small.jpg" alt="Logo"> -->
        <img src="../assets/images/logo-mm-stock.jpg" alt="Logo" style="margin-right: 20px;">
      </div>
    </a>
    <nav class="admin-nav">
      <ul class="d-flex align-items-center">
        <li><a routerLink="/cliente-list" routerLinkActive="active" ariaCurrentWhenActive="page">Clientes</a></li>
        <li><a routerLink="/fornecedor-list" routerLinkActive="active" ariaCurrentWhenActive="page">Fornecedores</a></li>
        <li><a routerLink="/produto-list" routerLinkActive="active" ariaCurrentWhenActive="page">Produtos</a></li>
        <li><a routerLink="/usuario-list" routerLinkActive="active" ariaCurrentWhenActive="page" [attr.disabled]="!authenticationService.CheckPrivilegio('CadUsuCon')">Usuários</a></li>

        <li><a routerLink="/produto-entrada" routerLinkActive="active" ariaCurrentWhenActive="page">Entrada de Produto</a></li>
        <li><a routerLink="/produto-saida" routerLinkActive="active" ariaCurrentWhenActive="page">Saída de Produto</a></li>

        <li><a routerLink="/movimentacao-cs" routerLinkActive="active" ariaCurrentWhenActive="page">Movimentação de Estoque</a></li>
        <li><a routerLink="/movimentacao-graf" routerLinkActive="active" ariaCurrentWhenActive="page">Análise de Estoque</a></li>
      </ul>
    </nav>
  </div>
  <div class="admin-actions d-flex align-items-center" style="margin-left: 20px;">
    <toggle-highcontrast/>
    <button mat-icon-button (click)="deslogar()" matTooltip="Sair" aria-label="Sair">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-icon-button routerLink="/altersenha"  matTooltip="Alterar senha" aria-label="Alterar Senha">
      <mat-icon>settings</mat-icon>
    </button>
    <!-- &todo& exibicao temporaria do usuario logado -->
    <div style="color: yellow; text-align: right; margin-left: 30px;">{{ this.authenticationService.UsuarioLogado?.login }}</div>
  </div>
</header>


<main id="Main" role="main" class="main">

  <div id="ContentDiv" class="ContentDivClass">

    <!--
      as duas divsabaixo consistem no esquema para remover o flicker (piscada) da tela de login
      quando jah estava logado e fazia um F5 na pagina aberta.
    -->
    <div style="display: none" *ngIf="isServer">
      <router-outlet (activate)="showMenu($event)"/>
    </div>
    <div id="BrowserRouterOutletDiv" *ngIf="isBrowser">
      <router-outlet (activate)="showMenu($event)"/>
    </div>
      
  </div>

</main>

<footer id="Footer" class="footer">
  <p class="p">&copy; 2024 MM Stock. Todos os direitos reservados. Desenvolvido por Molduvidro Machado.</p>
  <!-- <div class="container">
    
    <span class="text-muted">© 2024 MM Stock. Todos os direitos reservados. Desenvolvido por Molduvidro Machado.</span>
  </div> -->
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->