<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header id="Header" >

  <div *ngIf="ShowDeslogarBtn()" id="LogoutDiv" class="float-end text-center LogoutDiv" >
     <button name="DeslogarBtn" id="DeslogarBtn" (click)="deslogar()" class="btn"><i class="bi bi-box-arrow-right" style="font-size: 18px;"></i></button>
  </div>

  <div *ngIf="ShowDeslogarBtn()" id="ConfigDiv" class="float-end text-center ConfigDiv" >
    <a routerLink="/config">
      <button name="ConfigBtn" id="ConfigBtn" class="btn"><i class="bi bi-gear" style="font-size: 18px;" ></i></button>
    </a>
 </div>

 <nav *ngIf="ShowDeslogarBtn()" navbar navbar-expand-md navbar-dark fixed-top bg-dark>
    <a routerLink="/home"><img src="../assets/images/logo-home-small.jpg" alt="logo do sistema"   ></a>
    <a routerLink="/cliente-list">Cadastro de Clientes</a>
    <a routerLink="/fornecedor-list">Cadastro de Fornecedores</a>
    <a routerLink="/produto-list">Cadastro de Produtos</a>

    <a routerLink="/produto-entrada">Entrada de Produto</a>
    <a routerLink="/produto-saida">Saída de Produto</a>

    <a routerLink="/movimentacao-cs">Consulta de Movimentação do Estoque</a>

  </nav>

</header>

<main id="Main" role="main" class="main">

  <div id="ContentDiv" class="ContentDivClass">

      <router-outlet />

  </div>

</main>

<footer id="Footer" class="footer">
  <div class="container">
    <span class="text-muted">conteudo do rodape</span>
  </div>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



