<div class="button-and-filter-container" role="search">
  <!-- Botão de inclusão de novo fornecedor -->


  <a [routerLink]="bPodeIncluir ? '/fornecedor-det/0' : null" tabindex="-1">
    <button type="button" mat-raised-button color="basic"  [disabled]="!bPodeIncluir" aria-label="Incluir novo fornecedor">Incluir novo</button></a>

  <h2>Cadastro de Fornecedores</h2>

  <!-- Filtro-->
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input aria-label="Filtro de fornecedores" />
  </mat-form-field>
</div>

<!--Tabela-->
<div class="table-responsive" role="main">
  <table class="table" mat-table [dataSource]="dataSource" matSort aria-label="Tabela de fornecedores">
    <!-- ID Fornecedor -->
    <ng-container matColumnDef="id_fornecedor">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header sortingCache matTooltip="ID do Fornecedor" 
          [matTooltipPosition]="'above'" aria-label="Coluna de ID do fornecedor">
        ID
      </th>
      <td mat-cell *matCellDef="let element" tabindex="0" [attr.aria-label]="'ID do fornecedor ' + element.id_fornecedor">
        {{element.id_fornecedor}}
      </td>
    </ng-container>

    <!-- Nome Fornecedor -->
    <ng-container matColumnDef="nome_fornecedor">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header aria-label="Coluna do Nome do fornecedor">
        Nome
      </th>
      <td mat-cell *matCellDef="let element">
        <a href='{{"/fornecedor-det/" + element.id_fornecedor + "?mode=V"}}' tabindex="0" [attr.aria-label]="'Nome do fornecedor ' + element.nome_fornecedor">{{ element.nome_fornecedor }}</a>
      </td>
    </ng-container>

    <!-- Nome Responsável -->
    <ng-container matColumnDef="nome_responsavel">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header aria-label="Coluna do Responsável pelo fornecedor">
        Responsável
      </th>
      <td mat-cell *matCellDef="let element" tabindex="0" [attr.aria-label]="'Nome do responsável ' + element.nome_responsavel">
        {{ element.nome_responsavel }}
      </td>
    </ng-container>

    <!-- Contato Telefônico -->
    <ng-container matColumnDef="contato_telefonico">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header aria-label="Coluna do Telefone do fornecedor">
        Telefone
      </th>
      <td mat-cell *matCellDef="let element" tabindex="0" [attr.aria-label]="'Telefone do fornecedor ' + element.contato_telefonico">
        {{ element.contato_telefonico }}
      </td>
    </ng-container>

    <!-- Redes Sociais -->
    <ng-container matColumnDef="redes_sociais">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header aria-label="Coluna de Redes Sociais">
        Redes Sociais
      </th>
      <td mat-cell *matCellDef="let element" tabindex="0" [attr.aria-label]="'Redes sociais do fornecedor ' + element.redes_sociais">
        {{ element.redes_sociais }}
      </td>
    </ng-container>

    <!-- Materiais Fornecidos -->
    <ng-container matColumnDef="materiais_fornecidos">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header aria-label="Coluna de Materiais fornecidos">
        Materiais Fornecidos
      </th>
      <td mat-cell *matCellDef="let element" tabindex="0" [attr.aria-label]="'Materiais fornecidos pelo fornecedor ' + element.materiais_fornecidos">
        {{ element.materiais_fornecidos }}
      </td>
    </ng-container>

    <!-- CNPJ -->
    <ng-container matColumnDef="cnpj">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header aria-label="Coluna de CNPJ do fornecedor">
        CNPJ
      </th>
      <td mat-cell *matCellDef="let element" tabindex="0" [attr.aria-label]="'CNPJ do fornecedor ' + element.cnpj">
        {{ element.cnpj }}
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="endereco">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
              Endereço
        </th>
      <td mat-cell *matCellDef="let element">
            {{ element.endereco }}
        </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="numero">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
             Número
        </th>
      <td mat-cell *matCellDef="let element">
            {{ element.numero }}
        </td>
    </ng-container> -->

     <!-- <ng-container matColumnDef="complemento">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header>
              Complemento
        </th>
      <td mat-cell *matCellDef="let element">
            {{ element.complemento }}
        </td>
    </ng-container> -->

    <!-- Cidade -->
    <ng-container matColumnDef="cidade">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header aria-label="Coluna da Cidade">
        Cidade
      </th>
      <td mat-cell *matCellDef="let element" tabindex="0" [attr.aria-label]="'Cidade do fornecedor ' + element.cidade">
        {{ element.cidade }}
      </td>
    </ng-container>

    <!-- UF -->
    <ng-container matColumnDef="uf">
      <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef mat-sort-header aria-label="Coluna do UF">
        UF
      </th>
      <td mat-cell *matCellDef="let element" tabindex="0" [attr.aria-label]="'UF do fornecedor ' + element.uf">
        {{ element.uf }}
      </td>
    </ng-container>

<!-- Ações (Editar e Excluir) -->
        <ng-container  matColumnDef="actions" >
          <th class="centered-sorted-header" mat-header-cell *matHeaderCellDef aria-label="Coluna de Ações" tabindex="0">
            Ações
          </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <div class="d-flex align-items-center justify-content-center">


              <a class="d-flex" href="{{ GetEditarLink(row.id_fornecedor, bPodeEditar, 'fornecedor') }}" [attr.disabled]="!bPodeEditar" matTooltip="Editar Fornecedor" [matTooltipPosition]="'above'" [attr.aria-label]="'Editar fornecedor ' + row.nome_fornecedor">
                <mat-icon class="edit-icon {{ !bPodeEditar ? 'adisabled' : '' }}" >edit</mat-icon>
              </a>



              <button mat-stroked-button color="warn" (click)="excluirFornecedor(row.id_fornecedor)" matTooltip="Excluir Fornecedor" [matTooltipPosition]="'above'" [attr.aria-label]="'Excluir fornecedor ' + row.nome_fornecedor" disabled="{{!bPodeExcluir}}">
                <!-- Adicione uma classe de estilo para o botão quadrado -->
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

    <!-- Linha exibida quando não há dados -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" tabindex="0" aria-live="polite" aria-label="Nada encontrado para o filtro +'{input.value}'">
        Nada encontrado para o filtro "{{input.value}}"
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator PersistPaginator [pageSizeOptions]="[5, 10, 15, 25]" [pageSize]="10" itemsPerPageLabel="Itens por Página" 
                showFirstLastButtons="true" aria-label="Paginador de fornecedores" aria-live="polite">
  </mat-paginator>
</div>