.square-button {
    width: 40px;
    /* Defina o tamanho desejado para o botão quadrado */
    height: 40px;
    /* Defina o tamanho desejado para o botão quadrado */
}

.divider-cell {
    border-right: 1px solid #ccc;
    /* Adiciona uma borda direita */
}

.button-and-filter-container {
    display: flex;
    justify-content: space-between;
    /* Alinha os itens nas extremidades */
    align-items: center;
    /* Alinha os itens verticalmente */
}