
<form (ngSubmit)="login()" aria-labelledby="login-form-title">
  
  <div class="form-group col-md-3 LoginDiv mx-auto">
    
    <div class="row justify-content-center mb-5" style="margin-top: 50px;">
      <img src="../assets/images/logo-mm-stock.jpg" alt="Logo da empresa MM Stock" class="watermark" style="width: 272px; height: 272px; padding: 0px;">
    </div>

    <!-- Título do formulário para ajudar leitores de tela -->
    <h1 id="login-form-title" class="sr-only">Login no Sistema MM Stock</h1>

    <!-- Campo nome de usuário com rótulo claro e aria-required -->
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Nome de usuário</mat-label>
      <input matInput type="text" id="username" name="username" [(ngModel)]="username" 
             aria-labelledby="username-label" aria-required="true" required />
    </mat-form-field>

    <!-- Campo senha com rótulo claro e aria-required -->
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Senha</mat-label>
      <input matInput type="password" id="password" name="password" [(ngModel)]="password" 
             aria-labelledby="password-label" aria-required="true" required />
    </mat-form-field>

    <!-- Botão de login com acesso via teclado -->
    <div class="row mt-2">
      <div class="col text-center">
        <button class="btn btn-primary" type="submit" aria-label="Efetuar login">
          Login
        </button>
      </div>
    </div>
  </div>

</form>