<form [formGroup]="ConfigForm" (ngSubmit)="onSubmit()" aria-labelledby="password-change-title" class="d-flex flex-column align-items-start gap-3">
  <h3 class="text-center" id="password-change-title">Alteração da senha do usuário</h3>
    <!-- Campo Senha Atual -->
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Senha atual</mat-label>
      <input matInput type="password" id="oldPwd" name="token" formControlName="oldPwd"
            aria-labelledby="password-label" aria-required="true" aria-describedby="oldPwd-error" />
      <mat-error *ngIf="oldPwd?.touched && oldPwd?.invalid && oldPwd?.errors?.['required']" id="oldPwd-error" aria-live="polite">
        Senha atual é obrigatória
      </mat-error>
    </mat-form-field>

    <!-- Campo Nova Senha -->
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Nova senha</mat-label>
      <input matInput type="password" formControlName="newPwd" id="newPwd"
            aria-labelledby="password-label" aria-required="true" aria-describedby="newPwd-error" />
      <mat-error id="newPwd-error" aria-live="polite" *ngIf="newPwd?.touched && newPwd?.invalid && newPwd?.errors?.['required']">Nova senha é obrigatória</mat-error>
    </mat-form-field>
    <!-- Campo Confirmar Nova Senha -->
    <mat-form-field appearance="fill" style="width: 100%" class="mb-1">
      <mat-label>Confirme a nova senha</mat-label>
      <input matInput type="password" formControlName="confirmPwd" id="confirmPwd"
            aria-labelledby="password-label" aria-required="true" aria-describedby="confirmPwd-error" />
      <mat-error *ngIf="confirmPwd?.touched && confirmPwd?.invalid && !confirmPwd?.value" id="confirmPwd-error" aria-live="polite">Confirmação da nova senha é obrigatória</mat-error>
      <!-- Mensagem de erro de confirmação de senha -->
      <mat-error *ngIf="newPwd?.value != '' && confirmPwd?.value != '' && confirmPwd?.value != newPwd?.value" aria-live="polite">As senhas não coincidem</mat-error>
    </mat-form-field>
    <!-- Botão de Alterar Senha -->
    <button type="submit" class="btn btn-primary" [disabled]="!ConfigForm.valid" aria-label="Alterar senha">
      Alterar senha
    </button>
</form>