<div class="form-group col-md-6 mx-auto">
  
  <h2 #h2 id="PageTitle" name="PageTitle" class="mb-3">{{ this.PageTitle }}</h2>
  
  <form [formGroup]="produto_form" (ngSubmit)="onSubmit(produto_form.value)" aria-labelledby="PageTitle">
    <!-- Descrição -->
    @if(!IsInViewMode() || produto.foto || !!foto) {
      <div class="d-flex flex-column mb-5">
        <mat-label for="Cad_Produto_Foto_input" class="mb-2">Foto</mat-label>
        @if (produto.foto || !!foto) {
          <img id="foto" src="{{produto.foto ?? fotoUrl}}"/>
        }
        @if (!IsInViewMode()) {
          <div class="d-flex mt-3">
            <button type="button" mat-raised-button (click)="fileInput.click()" id="Cad_Produto_Foto" style="margin-right: 15px;">Escolher arquivo</button>
            @if (produto.foto || !!foto) {
              <button type="button" mat-raised-button (click)="cleanFoto()" id="Cad_Produto_Foto_Limpar">Limpar</button>
            }
          </div>
          <input type="file" id="Cad_Produto_Foto_input" name="Cad_Produto_Foto_input" hidden #fileInput accept="image/png, image/jpeg" (change)="onFileSelected($event)"/>
        }
      </div>
    }

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label for="Cad_Produto_Descricao">Descrição</mat-label>
      <input matInput type="text" id="Cad_Produto_Descricao" name="Cad_Produto_Descricao" formControlName="Cad_Produto_Descricao"
             [(ngModel)]="produto.descricao" required aria-required="true" />
    </mat-form-field>

     <!-- 
      <br />
      <mat-form-field appearance="fill" class="" style="width: 50%">
      <mat-label>Cor</mat-label>
      <input matInput type="text" id="Cad_Produto_Cor" name="Cad_Produto_Cor" formControlName="Cad_Produto_Cor"
             [(ngModel)]="produto.cor" required="true" />
    </mat-form-field> -->
    <br />

    <!-- Cor -->
    <mat-form-field appearance="fill" style="width: 50%">
      <mat-label for="Cad_Produto_Cor_Input">Cor</mat-label>
      <input #CorInput matInput type="text"
             id="Cad_Produto_Cor_Input" name="Cad_Produto_Cor_Input" formControlName="Cad_Produto_Cor" [(ngModel)]="produto.cor"
             [matAutocomplete]="Cad_Produto_Cor_auto"
             (input)="FilterCores(CorInput.value, 'input')"
             (focus)="FilterCores(CorInput.value, 'focus')">
      <mat-autocomplete autoActiveFirstOption #Cad_Produto_Cor_auto="matAutocomplete">
        <mat-option *ngFor="let cor of filtered_cores" [value]="cor.cor">{{ cor.cor }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />
    <!--
    <mat-form-field appearance="fill" class="" style="width: 50%">
      <mat-label>Tamanho</mat-label>
      <input matInput type="text" id="Cad_Produto_Tamanho" name="Cad_Produto_Tamanho" formControlName="Cad_Produto_Tamanho"
             [(ngModel)]="produto.tamanho" required="true" />
    </mat-form-field>
    -->

    <!-- Tamanho -->
    <mat-form-field appearance="fill" style="width: 50%">
      <mat-label for="Cad_Produto_Tamanho_Input">Tamanho</mat-label>
      <input #TamanhoInput matInput type="text"
             id="Cad_Produto_Tamanho_Input" name="Cad_Produto_Tamanho_Input" formControlName="Cad_Produto_Tamanho" [(ngModel)]="produto.tamanho"
             [matAutocomplete]="Cad_Produto_Tamanho_auto"
             (input)="FilterTamanhos(TamanhoInput.value, 'input')"
             (focus)="FilterTamanhos(TamanhoInput.value, 'focus')">
      <mat-autocomplete autoActiveFirstOption #Cad_Produto_Tamanho_auto="matAutocomplete">
        <mat-option *ngFor="let tamanho of filtered_tamanhos" [value]="tamanho.tamanho">{{ tamanho.tamanho }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />
    <!--
    <mat-form-field appearance="fill" class="" style="width: 70%">
      <mat-label>Tipo Material</mat-label>
      <input matInput type="text" id="Cad_Produto_Tipo_Material" name="Cad_Produto_Tipo_Material" formControlName="Cad_Produto_Tipo_Material"
             [(ngModel)]="produto.tipo_material" />
    </mat-form-field>
    -->

    <!-- Tipo Material -->
    <mat-form-field appearance="fill" style="width: 50%">
      <mat-label for="Cad_Produto_Tipo_Material_Input">Tipo Material</mat-label>
      <input #TipoMaterialInput matInput type="text"
             id="Cad_Produto_Tipo_Material_Input" name="Cad_Produto_Tipo_Material_Input" formControlName="Cad_Produto_Tipo_Material" [(ngModel)]="produto.tipo_material"
             [matAutocomplete]="Cad_Produto_TipoMaterial_auto"
             (input)="FilterTiposMaterial(TipoMaterialInput.value, 'input')"
             (focus)="FilterTiposMaterial(TipoMaterialInput.value, 'focus')">
      <mat-autocomplete autoActiveFirstOption #Cad_Produto_TipoMaterial_auto="matAutocomplete">
        <mat-option *ngFor="let tipo of filtered_tipos_material" [value]="tipo.tipo_material">{{ tipo.tipo_material }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />

    <!-- Preço venda -->
    <mat-form-field appearance="fill" style="width: 30%">
      <mat-label for="Cad_Produto_Preco_Venda">Preço de venda</mat-label>
      <input matInput id="Cad_Produto_Preco_Venda" name="Cad_Produto_Preco_Venda" formControlName="Cad_Produto_Preco_Venda"
             [(ngModel)]="produto.preco_venda" currencyMask [min]="0" />
    </mat-form-field>
    <br />

    <!-- exibir o preco_venda com formato pt-BR para testes -->
    <!-- {{this.produto.preco_venda | number:'1.2-2':'pt'}} -->

    <!-- Quantidade atual -->
    <mat-form-field appearance="fill" style="width: 30%">
      <mat-label for="Cad_Produto_Quantidade_Atual">Qtde atual</mat-label>
      <input type="number" id="Cad_Produto_Quantidade_Atual" name="Cad_Produto_Quantidade_Atual" formControlName="Cad_Produto_Quantidade_Atual"
             matInput min="0" step="1" pattern="^[0123456789]+$" [(ngModel)]="produto.quantidade_atual" required aria-required="true" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label for="Cad_Produto_Localizacao">Localização</mat-label>
      <input matInput type="text" id="Cad_Produto_Localizacao" name="Cad_Produto_Localizacao" formControlName="Cad_Produto_Localizacao"
             [(ngModel)]="produto.localizacao"/>
    </mat-form-field>

    <div class="form-group">
      <button #SubmitButton type="submit" mat-raised-button color="primary" *ngIf="!IsInViewMode()" [disabled]="!produto_form.valid"
              id="SubmitButton" name="SubmitButton">
          <!-- vai exibir "Confirmar Inclusão" ou "Confirmar Edição" -->
          {{ this.SubmitButtonText }}
      </button>
      &nbsp;&nbsp;
      <button type="button" id="voltarButton" mat-raised-button color="basic" (click)="voltar()" aria-labelledby="PageTitle voltarButton">Voltar</button>
    </div>

  </form>
</div>