
<div id="TopTableDiv" class="table-responsive TopTableDiv" >
  <div style="display: flex; align-items: center;">
    <mat-form-field class="TopTable_filtro_periodo" subscriptSizing=dynamic aria-label="Selecione o período para visualizar o gráfico">
      <mat-label>Período</mat-label>
      <mat-date-range-input [formGroup]="periodo_range" [rangePicker]="periodo_filtro_daterangepicker">
        <input matStartDate formControlName="dhinicio" placeholder="Data inicial" aria-label="Selecionar data inicial do período">
        <input matEndDate formControlName="dhfim" placeholder="Data final" aria-label="Selecionar data final do período">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="periodo_filtro_daterangepicker"></mat-datepicker-toggle>
      <mat-date-range-picker #periodo_filtro_daterangepicker></mat-date-range-picker>
    </mat-form-field>
    <button type="button" mat-raised-button color="basic" (click)="BtnAtualizarPeriodoClick($event)" style="margin-left: 10px;" aria-label="Atualizar gráfico com o período selecionado">Atualizar</button>
  </div>
  <div style="flex: 1; text-align: center; margin-right: 350px;">
    <h2 style="margin: 0;">Gráfico de Movimentação do Estoque</h2>
  </div>
</div>
<div class="card" role="img" aria-label="Este gráfico exibe a movimentação de entrada e saída de produtos no estoque ao longo do período selecionado. Use as setas para explorar os dados." tabindex="0">
  <p-chart #chart type="bar" [data]="data" [options]="options" />
</div>


<!-- Tabela de movimentação do estoque -->
<div class="card">
  <h2 style="text-align: center;" aria-label="Tabela de movimentações do estoque">Tabela de Movimentação do Estoque</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Coluna Mês -->
    <ng-container matColumnDef="mes">
      <th mat-header-cell *matHeaderCellDef aria-label="Mês da movimentação"> Mês </th>
      <td mat-cell *matCellDef="let element" [attr.aria-label]="'Mês da movimentação' + element.mes"> {{ element.mes }} </td>
    </ng-container>

    <!-- Coluna Entrada -->
    <ng-container matColumnDef="entrada">
      <th mat-header-cell *matHeaderCellDef aria-label="Quantidade que entrou"> Qtde Entrada </th>
      <td mat-cell *matCellDef="let element"  [attr.aria-label]="'Quantidade que entrou' + element.entrada"> {{ element.entrada }} </td>
    </ng-container>

    <!-- Coluna Saída -->
    <ng-container matColumnDef="saida">
      <th mat-header-cell *matHeaderCellDef aria-label="Quantidade que saiu"> Qtde Saída </th>
      <td mat-cell *matCellDef="let element" [attr.aria-label]="'Quantidade que saiu' + element.saida"> {{ element.saida }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons aria-label="Paginação da tabela de movimentação"></mat-paginator>
</div>

<div style="text-align: center; margin-top: 20px;">
  <button mat-raised-button color="primary" aria-label="Exportar para CSV" (click)="exportToCSV()">
    Exportar para CSV
  </button>
</div>
