
<div class="form-group col-md-6  mx-auto" >
  
  <h2>Entrada de Produto</h2>

  <!-- <div>id: {{movimentacao.id_movimentacao}}</div> -->

  <!--
  <label for="id_produto ">ID Produto</label>
  <input [(ngModel)]="movimentacao.id_produto" type="text" class="form-control" id="id_produto">
  -->

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  
    <!--
    campo select usado antes para a selecao do produto
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Produto</mat-label> 
      <mat-select id="ProdutoSelect" name="ProdutoSelect" formControlName="ProdutoSelect"
                  [(value)]="movimentacao.id_produto" required="true">
        <mat-option value="" ></mat-option>
        <mat-option *ngFor="let produto of produtos" 
          [value]="produto.id_produto" >                  
          {{produto.descricao}}
        </mat-option>
      </mat-select> 
    </mat-form-field> 
    -->

    <mat-form-field appearance="fill" class="" style="width: 100%">
      <mat-label>Produto</mat-label>
      <input #CorInput matInput type="text"
           id="Produto_Input" name="Produto_Input" formControlName="Produto_Input" [(ngModel)]="movimentacao.id_produto"
           [matAutocomplete]="Produto_Auto"
           (input)="FilterProdutos(CorInput.value, 'input')"
           (focus)="FilterProdutos(CorInput.value, 'focus')"
           >
      <mat-autocomplete autoActiveFirstOption #Produto_Auto="matAutocomplete" id="Produto_Auto" name="Produto_Auto" 
                        [displayWith]="Produto_Auto_DisplayFn">
         @for (produto of filtered_produtos; track produto) {
          <mat-option [value]="produto">{{produto.descricao}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="" style="width: 20%">
      <mat-label>Quantidade</mat-label>
      <input type="number" id="QuantidadeInput" name="QuantidadeInput" formControlName="QuantidadeInput"
             matInput min="0" step="1" pattern="^[0|1|2|3|4|5|6|7|8|9]+$" [(ngModel)]="movimentacao.quantidade" required="true" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="" style="width: 100%">
      <mat-label>Observação</mat-label>
      <textarea id="ObsTextArea" name="ObsTextArea" formControlName="ObsTextArea"
                matInput placeholder="" rows="3" [(ngModel)]="movimentacao.obs" ></textarea>
    </mat-form-field>

    <div class="form-group">
      <button type="submit" mat-raised-button color="primary" *ngIf="!IsInViewMode()" [disabled]="!form.valid">Confirmar</button>
      &nbsp;&nbsp;
      <button type="button" mat-raised-button color="basic" (click)="voltar()">Voltar</button>
    </div>

    <!-- <div class="form-group col-md-6 mb-3  ">
      <label for="data_hora ">Data/hora</label>
      <input [(ngModel)]="movimentacao.data_hora" type="text" class="form-control" id="data_hora">
    </div> -->

  </form>

  <!-- <pre>
    {{ movimentacao | json }}
  </pre>
  <pre>
    {{ form.status | json }}
  </pre> -->

</div>
