<h2>Incluir Fornecedor</h2>

<form [formGroup]="fornecedor_form">
  <div class="form-group col-md-6 mb-3  ">
    <label for="Cad_Fornecedor_Nome ">Nome do Fornecedor</label>
    <input formControlName="nome_fornecedor" type="text" class="form-control" id="Cad_Fornecedor_Nome">
  </div>
  <div class="form-group col-md-6 mb-3 ">
    <label for="Cad_Fornecedor_nome_responsavel">Nome do Responsável</label>
    <input formControlName="nome_responsavel" type="text" class="form-control" id="Cad_Fornecedor_nome_responsavel">
  </div>
  <div class="form-group col-md-3 mb-3 ">
    <label for="Cad_Fornecedor_contato_telefonico">Telefone</label>
    <input formControlName="contato_telefonico" type="text" class="form-control" id="Cad_Fornecedor_contato_telefonico">
  </div>
  <div class="form-group col-md-6 mb-3  ">
    <label for="Cad_Fornecedor_redes_sociais">Redes Sociais</label>
    <input formControlName="redes_sociais" type="text" class="form-control" id="Cad_Fornecedor_redes_sociais">
  </div>    
  <div class="form-group col-md-3 mb-3  ">
    <label for="Cad_Fornecedor_CNPJ">CNPJ</label>
    <input formControlName="materiais_fornecidos" type="text" class="form-control" id="Cad_Fornecedor_materiais_fornecidos"> 
  </div>                                 
  <div class="form-group col-md-3 mb-3 offset-md-0">
      <label for="Cad_Fornecedor_cidade">Cidade</label>
      <input formControlName="cidade" type="text" class="form-control" id="Cad_fornecedor_cidade">
  </div>                
  <div class="form-group col-md-1 mb-3  ">
      <label for="Cad_fornecedor_Estado">Estado</label>
  <select formControlName="uf" id="Cad_fornecedor_Estado" class="form-control">
      <option selected>...</option>
      <option>AC</option>
      <option>AL</option>
      <option>AP</option>
      <option>AM</option>
      <option>BA</option>
      <option>CE</option>
      <option>DF</option>
      <option>ES</option>
      <option>GO</option>
      <option>MA</option>
      <option>MT</option>
      <option>MS</option>
      <option>MG</option>
      <option>PA</option>
      <option>PB</option>
      <option>PR</option>
      <option>PE</option>
      <option>PI</option>
      <option>RJ</option>
      <option>RN</option>
      <option>RS</option>
      <option>RO</option>
      <option>RR</option>
      <option>SC</option>
      <option>SP</option>
      <option>SE</option>
      <option>TO</option>
  </select>             
  </div>
  <div class="form-group col-md-6 mb-3  ">
    <label for="Cad_fornecedor_Endereco">Endereço</label>
    <input formControlName="endereco" type="text" class="form-control" id="Cad_fornecedor_Endereco">
</div>                  
<div class="form-group col-md-3 mb-3  ">
    <label for="Cad_fornecedor_Numero">Numero</label>
    <input formControlName="numero" type="text" class="form-control" id="Cad_fornecedor_Numero">
</div>
<div class="form-group col-md-3 mb-3 offset-md-0">
    <label for="Cad_fornecedor_Complemento">Complemento</label>
    <input formControlName="complemento" type="text" class="form-control" id="Cad_fornecedor_Complemento">
</div>    
<div>

    
    <button  class="btn btn-primary " type="submit" (click)="postFornecedor()">
        <span>Incluir</span>
    </button>
</div>


</form>