/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@import  "./sticky-footer-navbar.css";

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "../node_modules/ngx-toastr/toastr.css";

/* tema de cores selecionado para o angular material
outras opcoes:
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.ContentDivClass {

  width: 100%;

}

.LoginDiv {

  /* apenas para testes */
  border-color: black;
  border-width: 1px;
  border-style: none;

  padding: 5px;

}

.ConfigDiv {

  width: 50px;
  height: 40px;

}

.LogoutDiv {

  /* apenas para testes */
  /*
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  */
  
  width: 50px;
  height: 40px;
  
}

/* Opacidade da imagem de login */
.watermark {
  opacity: 0.7;
  filter: alpha(opacity=50); /* Para compatibilidade com IE8 e anteriores */

}

/* Estilo dos links quando estão ativos */
.admin-nav ul li a.active {
  color: #007bff; /* Azul */
}

/* Animação de transição */
.admin-nav ul li a {
  transition: color 0.3s ease;
}

/* classes para as tabelas do angular material */

.centered-sorted-header {  
  .mat-sort-header-container {
    justify-content: center;
  }
}

/* diminuir a distancia entre o texto do titulo da coluna e o icone de setinha que indica o sentido da ordenacao */
.mat-sort-header-arrow {
  margin-left: 3px !important;
}

html {

  /* altura padrao da linha do header do table do angular material */
  --mat-table-header-container-height: 35px;

  /* altura padrao das linhas de dados do table do angular material */
  --mat-table-row-item-container-height: 32px;

  /* altura do botao quando colocado em uma celula de um table do angular material */
  --mdc-outlined-button-container-height: 25px;

}

.table {
  /* diminuir o espaco vertical entre o fim da table do angular material e o inicio da area "mat-paginator" */
  margin-bottom: 3px;
}
