/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@import  "./sticky-footer-navbar.css";

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

 @import "../node_modules/ngx-toastr/toastr.css";

.ContentDivClass {

  width: 100%;

}

.LoginDiv {

  /* apenas para testes */
  border-color: black;
  border-width: 2px;
  border-style: solid;

  padding: 5px;

}

.ConfigDiv {

  width: 50px;
  height: 40px;

}

.LogoutDiv {

  /* apenas para testes */
  /*
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  */
  
  width: 50px;
  height: 40px;
  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
