<h2>Incluir Cliente</h2>

<!--&todo&
    <--!esta tela será usada para ver os detalhes de um cliente, para incluir um novo cliente e para editar um cliente já existente>
    exibir no titulo "Detalhes do Cliente - Incluindo" ou "Detalhes do Cliente - Editando" conforme o que o usuario estiver fazendo nesta tela
    talvez poderia vamos colocar um botao excluir para excluir o cliente que o usuario estiver vendo os detalhes (somente se estiver visualizando um cliente)-->

<br />
<form [formGroup]="cliente_form">
  <div class="form-group col-md-6 mb-3  ">
    <label for="Cad_Cliente_Nome ">Nome Completo</label>
    <input formControlName="nome_completo" type="text" class="form-control" id="Cad_Cliente_Nome">
  </div>
  <div class="form-group col-md-6 mb-3 ">
    <label for="Cad_Cliente_Email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="Cad_Cliente_Email">
  </div>
  <div class="form-group col-md-3 mb-3 ">
    <label for="Cad_Cliente_Telefone">Telefone</label>
    <input formControlName="telefone" type="text" class="form-control" id="Cad_Cliente_Telefone">
  </div>
  <div class="form-group col-md-6 mb-3  ">
    <label for="Cad_Cliente_Nome_Loja">Nome da Loja</label>
    <input formControlName="nome_loja" type="text" class="form-control" id="Cad_Cliente_Nome-Loja">
  </div>                
    <div class="form-group col-md-3 mb-3  ">
        <label for="Cad_Cliente_CPF">CPF</label>
        <input formControlName="cpf" type="text" class="form-control" id="Cad_Cliente_CPF">
    </div>
    <div class="form-group col-md-3 mb-3 offset-md-0">
        <label for="Cad_Cliente_CNPJ">CNPJ</label>
        <input formControlName="cnpj" type="text" class="form-control" id="Cad_Cliente_CNPJ">
    </div>                
    <div class="form-group col-md-3 mb-3  ">
        <label for="Cad_Cliente_Tipo">Tipo de Cliente</label>
        <input formControlName="tipo_cliente" type="text" class="form-control" id="Cad_Cliente_Tipo">
    </div>                                   
        <div class="form-group col-md-3 mb-3 offset-md-0">
            <label for="Cad_Cliente_Cidade">Cidade</label>
            <input formControlName="cidade" type="text" class="form-control" id="Cad_Cliente_Cidade">
        </div>                
        <div class="form-group col-md-1 mb-3  ">
            <label for="Cad_Cliente_Estado">Estado</label>
        <select formControlName="uf" id="Cad_Cliente_Estado" class="form-control">
            <option selected>...</option>
            <option>Acre (AC)</option>
            <option>Alagoas (AL)</option>
            <option>Amapá (AP)</option>
            <option>Amazonas (AM)</option>
            <option>Bahia (BA)</option>
            <option>Ceará (CE)</option>
            <option>Distrito Federal (DF)</option>
            <option>Espírito Santo (ES)</option>
            <option>Goiás (GO)</option>
            <option>Maranhão (MA)</option>
            <option>Mato Grosso (MT)</option>
            <option>Mato Grosso do Sul (MS)</option>
            <option>Minas Gerais (MG)</option>
            <option>Pará (PA)</option>
            <option>Paraíba (PB)</option>
            <option>Paraná (PR)</option>
            <option>Pernambuco (PE)</option>
            <option>Piauí (PI)</option>
            <option>Rio de Janeiro (RJ)</option>
            <option>Rio Grande do Norte (RN)</option>
            <option>Rio Grande do Sul (RS)</option>
            <option>Rondônia (RO)</option>
            <option>Roraima (RR)</option>
            <option>Santa Catarina (SC)</option>
            <option>SP</option>
            <option>Sergipe (SE)</option>
            <option>Tocantins (TO)</option>
        </select>            
    </div>                                       
    <div class="form-group col-md-6 mb-3  ">
        <label for="Cad_Cliente_Endereco">Endereço</label>
        <input formControlName="endereco" type="text" class="form-control" id="Cad_Cliente_Endereco">
    </div>                  
    <div class="form-group col-md-3 mb-3  ">
        <label for="Cad_Cliente_Numero">Numero</label>
        <input formControlName="numero" type="text" class="form-control" id="Cad_Cliente_Numero">
    </div>
    <div class="form-group col-md-3 mb-3 offset-md-0">
        <label for="Cad_Cliente_Complemento">Complemento</label>
        <input formControlName="complemento" type="text" class="form-control" id="Cad_Cliente_Complemento">
    </div>    
    <div>

        
        <button  class="btn btn-primary " type="submit" (click)="postCliente()">
            <span>Incluir</span>
        </button>
    </div>

</form>
