# Compiled output
/dist
/out-tsc

# Node
/node_modules
package-lock.json
.env

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/connect.lock
/coverage
/libpeerconnection.log
/typings

# System files
.DS_Store
Thumbs.db